
/*
@font-face {
    font-family: '...';
    src: url(....);
}

:root{
    --black:#000000;
    --white:#FFFFFF;

    --blue:rgba(49, 0, 211, 0.7)
    --orange:#f87122;
    --border-radios: 10px;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#mainPage-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 393px;
    height: 852px;
    background: #F3F0E7;
    margin: 0 auto;
    margin-top: 115px;
}

#graphic {
    margin-top: 20px;
}
/*
.top-bar { 
    display: flex;
    flex-direction: row;
}*/

.main-text-main {
    font-size: 24px;
    font-weight: normal;
    font-family: Playfair Display;
    color: #BB3B4E;
    text-align: left;
    width: 100%;
    padding-left: 8px;
    margin-bottom: 10px;
}

.info-icon-main {
    display: flex;
    justify-content: end;
    align-items: center;
    color: #BB3B4E;
    padding-right: 15px;
    margin-bottom: 10px;
}

.info-icon-main img {

}

.svg-main-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    width: 96%;
    margin-bottom: 115px ;
}

button {
    background-color: #4B815B;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
    background-color: #3A644A;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}


#btnMakeRoom {
    background-color: #4B815B;
    width: 100%;
    color: white;

    font-size: 18px;
    font-weight: 500;
    font-family: Work Sans;

    padding: 20px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#btnMakeRoom:hover {
    background-color: #3A644A;
}

#btnJoinRoom {
    background-color: #4B815B;
    width: 100%;
    color: white;

    font-size: 18px;
    font-weight: 500;
    font-family: Work Sans;

    padding: 20px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#btnJoinRoom:hover {
    background-color: #3A644A;
}